.sizing {
    width: 30%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-input-field {
    font-family: 'Alegreya', serif;
    font-size: large;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
   
    width: 300px;
}



#todo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
