
.todo {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    background-color: #05368b;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    flex-grow: 1;
}

.todo-pending {
    text-decoration: none;
}

.todo-done {
    text-decoration: line-through;
}

.todo:hover {
    cursor: pointer;
}